!!! 5

-var codeHighlightTheme = codeHighlightTheme

html
	head
		meta(http-equiv="content-type", content="text/html", charset=utf-8")
		
		title #{title}
		
		link(type="text/css", rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin")
		link(type="text/css", rel="stylesheet", href="./assets/csses/reset.css")
		link(type="text/css", rel="stylesheet", href="./assets/csses/docs.css")
		link(type="text/css", rel="stylesheet", href="./assets/csses/print.css", media="print")
		link(type="text/css", rel="stylesheet", href="http://yandex.st/highlightjs/6.1/styles/#{codeHighlightTheme}.min.css")

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

	body
		div#page
			a(name="top")
			
			if keepFirstHeader
				header#header
					h1 Panda: Readme

			article#content!= content

			footer#footer
				From <a href="http://github.com/gjtorikian/panda">github.com/gjtorikian/panda</a> -
				<a href="#top">Back to top</a>
				
